psycopg==3.2.9
kafka-python==2.2.13
apache-flink==2.0.0
pytest==8.4.1
pytest-mock==3.14.1
flask==3.1.2
fastapi==0.118.0
gunicorn==23.0.0
uvicorn==0.37.0
aiokafka==0.12.0
websockets==15.0.1
azure-storage-blob==12.26.0
aiohttp==3.13.0
