<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{% block description %}{% endblock %}">
    <title>{% block title %}{% endblock %}</title>
    
    <link rel="preconnect"
        href="https://fonts.googleapis.com">
    <link rel="preconnect"
        href="https://fonts.gstatic.com"
        crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Modak&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>

    <link rel="icon"
        type="image/x-icon"
        href="{{ url_for('static', filename='images/icon.png') }}">
    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <div class="navbar">
        <div class="brand modak-regular">Yacht tracker</div>
    </div>

    <div class="wave-divider">
        <svg viewBox="0 0 100 5" xmlns="http://www.w3.org/2000/svg">
            <path d="M0,0 L100,0 L100,2.5 C75,5 25,0 0,2.5 Z"></path>
        </svg>
    </div>
    <div class="content">
        <main class="main-content">
            {% block content %}{% endblock %}
        </main>
    </div>
    {% block source_js %}{% endblock %}
</body>
</html>