{% extends "base.html" %}

{% block title %}Yacht tracker{% endblock %}

{% block description %}Visualization for the real time yacht tracking{% endblock %}

{% block content %}
    <div id="map">
        <div class="pill" style="background: blue;">
            <div class="pill-text">Y1:</div>
            <div class="pill-text" id="speed1" style="left: 150px; transform: translate(-50%, 0%);">0.0</div>
            <div class="pill-text" style="font-size: 40px; right: 15px; top: 10px;">m/s</div>
        </div>
        <div class="pill" style="top:300px; background: red;">
            <div class="pill-text">Y2:</div>
            <div class="pill-text" id="speed2" style="left: 150px; transform: translate(-50%, 0%);">0.0</div>
            <div class="pill-text" style="font-size: 40px; right: 15px; top: 10px;">m/s</div>
        </div>
        <div class="pill" style="top:400px; background: green;">
            <div class="pill-text">Y3:</div>
            <div class="pill-text" id="speed3" style="left: 150px; transform: translate(-50%, 0%);">0.0</div>
            <div class="pill-text" style="font-size: 40px; right: 15px; top: 10px;">m/s</div>
        </div>
        <div class="pill" style="top:500px; background: orange;">
            <div class="pill-text">Y4:</div>
            <div class="pill-text" id="speed4" style="left: 150px; transform: translate(-50%, 0%);">0.0</div>
            <div class="pill-text" style="font-size: 40px; right: 15px; top: 10px;">m/s</div>
        </div>
        <div class="pill" style="top:600px; background: purple;">
            <div class="pill-text">Y5:</div>
            <div class="pill-text" id="speed5" style="left: 150px; transform: translate(-50%, 0%);">0.0</div>
            <div class="pill-text" style="font-size: 40px; right: 15px; top: 10px;">m/s</div>
        </div>
        <div class="pill" style="top:700px; background: brown;">
            <div class="pill-text">Y6:</div>
            <div class="pill-text" id="speed6" style="left: 150px; transform: translate(-50%, 0%);">0.0</div>
            <div class="pill-text" style="font-size: 40px; right: 15px; top: 10px;">m/s</div>
        </div>
    </div>
{% endblock %}

{% block source_js %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}